

.header {
  padding: 16px;
  background-color: #fff;
}

.header .logo {
  height: 50px;
  width: auto;
}

.header .logo img {
  height: 100%;
}

.main {
  margin: 50px 16px;
  display: flex;
}

.main .info-bar {
  flex: 1
}

.main .data-section {
  flex: 4;
  margin: 0 24px;
  /* width: 800px; */
  height: 600px;
}